@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
	font-family: "Raleway", Helvetica, sans-serif;
	background: url(../img/asanoha-400px.png) repeat center center;
}

@media (min-width: 1200px) {
	.container {
	    width: 970px;
	}
}
#header {
	margin: 0 0 20px;
	background-color: #f8f8f8;
    border-bottom: 1px solid #e7e7e7;
    padding: 15px 0;
}
#header .container {
	position: relative;
}
#header .site-branding {
	float: left;
}
.site-branding .custom-header, .site-branding .site-title {
	float: left;
}
.site-branding .custom-header img {
    display: block;
}

.main-navigation {
    display: block;
    float: right;
    position: absolute;
    top: 60%;
    right: 0;
    z-index: 500;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    transform: translate(0, -50%);
}
.main-navigation .main-menu {
    float: right;
}
.main-navigation .menu {
    float: right;
}
.main-navigation ul {
	list-style: none;
}
.main-navigation li {
    margin-left: 10px;
    float: left;
    position: relative;
}
#site-navigation ul > li > a {
    text-transform: uppercase;
    color: #888;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
}


#main {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 25px 20px;
}
